<style type="text/css">

.left_title {
	padding:80px 20px 20px 0px;
	font-size:54px;
	text-align:left;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #545556;
}

.plans_1week_block {
	margin:150px 0px 0px 100px;
	background-image: url('images/Subscription_BlueBox_Small.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.plans_1month_block {
	margin:70px 0px 0px 70px;
	background-image: url('images/Subscription_BlueBox_Large.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.plans_3month_block {
	margin:150px 0px 0px 100px;
	background-image: url('images/Subscription_BlueBox_Small.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.plans_1year_block {
	margin:150px 0px 0px 100px;
	background-image: url('images/Subscription_BlueBox_Small.png');
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}

.plans_block_small_button {
	margin:55px 0px 0px 10px;
	background-image: url('images/Subscription_Button_Small.png');
	background-repeat: no-repeat;
	float: left;
	font-size:20px;
	text-align:center;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	width: 128px;
	height: 50px;
}

.plans_block_large_button {
	margin:60px 0px 0px 58px;
	background-image: url('images/Subscription_Button_Large.png');
	background-repeat: no-repeat;
	float: left;
	font-size:20px;
	text-align:center;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	width: 160px;
	height: 60px;
}

.plans_block_small_title {
	margin:-20px 0px 0px 20px;
	font-size:46px;
	text-align:left;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
	float: left;
}

.plans_block_large_title {
	margin:46px 0px 0px 20px;
	font-size:50px;
	text-align:left;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
	float: left;
}

.plans_block_small_bodytext {
	margin:50px 0px 0px 10px;
	font-size:22px;
	text-align:left;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
}

.plans_block_large_bodytext {
	margin:120px 0px 0px 54px;
	font-size:24px;
	text-align:left;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: white;
}

.plans_1week_block_cal_icon {
	margin:-60px 0px 0px -30px;
	background-image: url('images/Subscription_Calendar1_Small.png');
	background-repeat: no-repeat;
	float: left;
	width: 78px;
	height: 103px;
}

.plans_1month_block_cal_icon {
	margin:-18px 0px 0px 15px;
	background-image: url('images/Subscription_Calendar1_Large.png');
	background-repeat: no-repeat;
	float: left;
	width: 96px;
	height: 127px;
}

.plans_3month_block_cal_icon {
	margin:-60px 0px 0px -30px;
	background-image: url('images/Subscription_Calendar3.png');
	background-repeat: no-repeat;
	float: left;
	width: 78px;
	height: 103px;
}

.plans_1year_block_cal_icon {
	margin:-60px 0px 0px -30px;
	background-image: url('images/Subscription_Calendar1_Small.png');
	background-repeat: no-repeat;
	float: left;
	width: 78px;
	height: 103px;
}

/*
TODO
- gen_links - no serifs
- title - 56px, bold
*/

.main{
	background-color: #f2eee9;
}

.left_pane{
	float:left;
	min-width:520px;
	min-height:700px;
}

.folder_container{

	margin:30px 0px 20px 30px;

}

.paperclip_ad_large{

	margin:-36px 30px;	
	z-index:2;
}

.expanded_folder{
	background-image: url('images/Ad_BlueFolder.png');
	height:251px;
	width:437px;
}

.compact_folder{

	background-image: url('images/Ad_BlueFolder_small.png');
	margin-top:20px;
	height:175px;
	width:437px;

}

.name_folder_ad{

	font-size:12px;
	text-align:center;

}

.folder_container_internal{

	height: 250px;
	width: 400px;

}
.compact_folder_container_internal{

	height: 250px;
	width: 400px;

}

.skill_folder_ad{

	color:white;
	font-size:14px;
	height:30px;
	width: 300px;
	margin:-63px 0px 0px 100px;

}

.skill_folder_ad p{

	margin:0px 0px 0px 9px;

}

.sample_comment{
background-color:white;
color:#444444;
height:70px;
margin:75px 0 0 20px;
padding:6px;
width:380px;

}

.coder_thumb_ad{

	height:65px;
	margin-left:4px;
	padding:1px 1px 0 0;
	width:65px;

}

.expanded_folder_photo{

	height:100px;
	width:73px;
	background-color:white;
	position:relative;
	top:35px;
	z-index:1;
	margin-left:20px;

}

.expanded_folder_photo a {

	font-size:11px;
	text-align:center;
}

.compact_folder_photo{

	height:100px;
	width:73px;
	background-color:white;
	position:relative;
	top:35px;
	z-index:1;
	margin-left:20px;

}

.compact_folder_photo a {

	font-size:11px;
	text-align:center;
}


.tag_cloud {

	background:#80b0e4;
	width: 380px;
	margin-left:78px;
	color:white;
	font-family: sans-serif;
	min-height:400px;
}
.tag_cloud_small {

	background:#80b0e4;
	width: 300px;
	margin-left:110px;
	color:white;
	font-family: sans-serif;
	min-height:200px;
}

.tag_cloud_small a {

	color:white;
	font-family: sans-serif;
}



.tag_cloud a {

	color:white;
	font-family: sans-serif;
}

.sample_coders{

	width:500px;
	height:150px;
	margin-right:60px;
	margin-top:90px;
	float:right;

}

.coder_box_small{

	background-image:url(images/Home_ProfileThumbnail.png);
	float:left;
	height:66px;
	margin-left:10px;
	padding:13px 10px 8px 8px;
	width:132px;

}
 
.subtext{
	font-size:14px;
	color:black;
}

.coder_thumb{ 
	float:left;
	height:50px;
	padding:1px 15px 0 0;
	width:50px;
}

.coder_small_source p{
	font-size:11px;
	text-align:center;
	margin: 9px 0px 0px 1px;
}

.coder_pic span{
	font-size:11px;
	text-align:center;
	margin: 9px 0px 0px 1px;
}

.coder_small_source{

	float:left;
	background-image: url('images/Home_SourceBox.png');
	width: 42px;
	height:42px;
}

.coder_small_source_ad{

	float:left;
	background-image: url('images/Ad_SourceBox.png');
	width: 68px;
	height:69px;
	text-align:center;
	margin-left:5px;
	margin-top: -11px;
}

.coder_small_source_ad p{
	font-size:11px;
	text-align:center;
	margin: 14px 0px 0px 15px;
	color:#444;
	width:20px;
}


.body {

	background-color: #80b0e4;
	height:1560px;
}

a img {
	border: none;
	text-decoration: none;
}

.gen_links {

	float:right;
	margin: 20px 20px 0px 10px;
	font-family: georgia;
	color: #3e7bbc;
}

.dude {
	font-size:14px;
}

.logo {
	padding: 10px 0px 0px 10px;
	float:left;
}

.title {
	padding:80px 0px 20px 0px;
	font-size:42px;
	text-align:center;
	font-family: “Myriad Pro”, Arial, Helvetica, sans-serif;
	color: #545556;
}

.photo_collage {

	padding: 30px 0px 0px 30px;
	float:left;

}

.search_area {
	margin: 80px 0px 30px 60px;
	float:left;
	padding: 10px 31px 2px 20px;
}

.search_box {
	border: 2px solid #1E69AD;
	height: 50px;
	font-size: 24px;
	width: 350px;
	color: #d4d4d4;
	float:left;
	padding:7px;
}

.search_entry {
	border: 2px solid #1E69AD;
	height: 50px;
	font-size: 30px;
	width: 350px;
	color: #1E69AD;
	float:left;
	padding:2px;
}


.search_button {

	margin:20px 0px 10px 20px;
	width: 200px;
	height:40px;	
	color:white;
	border:1px solid #1B5A1B;
	padding: 8px 0px 0px 0px;
	font-size:18px;
	text-align: center;
	background:#2DA62D;

}


.highlight {

	color:#8CBB40;

}

.right_block{
	float:left;
}

.medium_profile {

	margin: 20px 0px 20px 20px;
	padding: 20px;
	height: 100px;
	width: 250px;
	border: 1px solid #999;
	background: #F0F8FF;
	float:left;


}

.handle {
	font-size:12px;
}

.profile_pic { 

	float:left;
	height: 100px;
	width: 60px;

}

a {
	text-decoration:none
}

.skills {
	margin-left:60px;
}

.activities {

	padding: 0px 0px 10px 0px;

}

.activity {

	border: 1px solid #e0e0e0;
	background: #FFF8E3;
	height: 50px;
	width: 50px;

}

.activity p {
	text-align: center;
}




</style>
